
body{
    main{
        margin-top: 20px;
        h2{
            color: var(--primary-color);
        }
        .cards-collection_1{        
              
            div{
            
                background: var(--primary-color); 
                border-radius: 0;
                div{
                    .my{
                        padding-top: 5px;
                        width: 300px;
                        border-radius: 50%;
                        
                        
                        
                    }
                    div{
                        .btn{
                            background-color: #fff;
                            border-radius: 0;
                        }
                    }
                }
            }
        
            
        }
        .cards-collection_2{

        }
    }
    
}