
body{
    main{
        margin-top: 20px;
        .details{
            line-height: 60px;
            
            color: white;
            .btn-light{
                border-radius: 0;
                
            }
            img{
               
                width: 100%;
                
                border-radius: 50%;
                
            }
        }
        
        
    }
    
}