body .head-form {
  background-color: red;
}

body main {
  margin-top: 20px;
}

body main .details {
  line-height: 60px;
  color: white;
}

body main .details .btn-light {
  border-radius: 0;
}

body main .details img {
  width: 100%;
  border-radius: 50%;
}
