body header nav {
  background-color: var(--primary-color);
}

body header nav a {
  color: white;
}

body header nav a img {
  width: 70px;
  height: 45px;
}

body header nav a:hover {
  color: white;
}

body header nav .nav_link {
  margin-top: 10px;
}

body header nav .nav_link a {
  padding-left: 10px;
  color: white;
}

body header nav .nav_link a:hover {
  color: white;
}

body header nav .nav_link a i {
  padding-right: 20px;
}
